.breadcrumb-container {
    max-height: 36px;
background-color: #f8f9fa;
padding: 4px 15px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Custom styles for breadcrumb items */
.breadcrumb-item {
display: inline-block;
padding: 0 5px;
color: #333;
}
.breadcrumb-item::after {
content: "/";
padding: 0 5px;
}
.breadcrumb-item:last-child::after {
content: "";
}
